:root {
  --soon-color-primary: #8c57ff;
  --soon-menu-hover-bg-color: #ece8f7;
  --soon-menu-hover-text-color: var(--soon-color-primary);
  --soon-color-bg: #181818;
  --soon-color-bg-light: #1f1f1f;
}

// .dark {
//   body {
//     background: #1f1f1f;
//     color: white;
//   }

//   .page-container {
//     background-color: #1f1f1f;
//   }

//   .query-form,
//   .soon-header,
//   .soon-aside,
//   .btn-bar {
//     background-color: #181818;
//   }

//   .ant-form,
//   .ant-form-item,
//   .ant-form-item .ant-form-item-label>label {
//     color: currentColor;
//   }

//   .ant-table-wrapper .ant-table {
//     background-color: #1f1f1f;
//     color: currentColor;
//   }

// }

#nprogress .bar {
  background: var(--soon-color-primary);
}

#nprogress .spinner-icon {
  border-top-color: var(--soon-color-primary);
  border-left-color: var(--soon-color-primary);
}
