.dark {
  background: #1f1f1f;
  color: white;
}

// .dark {
//   body {
//     background: #1f1f1f;
//     color: white;
//   }

//   .page-container {
//     background-color: #1f1f1f;
//   }

//   .query-form,
//   .soon-header,
//   .soon-aside,
//   .btn-bar {
//     background-color: #181818;
//   }

//   .ant-form,
//   .ant-form-item,
//   .ant-form-item .ant-form-item-label>label {
//     color: currentColor;
//   }

//   .ant-table-wrapper .ant-table {
//     background-color: #1f1f1f;
//     color: currentColor;
//   }

// }

#nprogress .bar {
  background: rgb(var(--color-primary-600));
}

#nprogress .spinner-icon {
  border-top-color: rgb(var(--color-primary-600));
  border-left-color: rgb(var(--color-primary-600));
}